Body{

  /* reset  */
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 1.2;



}

nav {
  padding :30px;
  position: fixed;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}









.landing{


  height: 100vh;
  max-width: 1200px;
  margin-bottom: 250px;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;

  text-align: center;


}

.landing iframe{

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 130px;
  padding-top: 80px;

 }

.landing img{
  width: 30%;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 40px;

}

.landing a{
  font-size:14px;
  color: black;
  text-decoration:

}

.landing a:hover{
  color: red;
  transition: color 0.5s;

}







section{

  margin: 100px 30px 200px 30px;
  overflow: hidden;



}

.show-1 img{
  width: 600px;
  float: left;
}

.show-1 p{

  float: right;
  padding: 50px;
  max-width: 450px;
  top: -100px;



}






.show-2 img{
  width: 700px;
  float:right;

}

.show-2 p{

  float: left;
  padding: 50px;
  max-width: 450px;

}


.movies {

  display: block;
  text-align: center;

}

.movies img{
  width: 800px;
}

.movies p{
  padding-left: 40%;
margin-top: 160px;
margin-left: auto;
margin-right: auto;
position: absolute;

}



.show-4 img{
  float: left;
  margin-right: 200px;

}

.show-4 p{
  float: right;
  padding: 50px;
  max-width: 450px;


}

.maillist{
  text-align: center;
  padding: 200px;
}



footer{
  background-color: black;
  color: #fff;
  padding-bottom: 150px;

  overflow: hidden;
  text-align: center;


}
footer .contact{

  padding: 30px;
  margin: 10px;

}

footer .contact p{
  display: inline;
  margin-left: 15px;
}
